---
pagination:
  data: collections.platformList
  size: 1
  alias: platform
  addAllPagesToCollections: true
layout: layouts/home.njk
renderData:
  title: Platform "{{ platform }}"
permalink: /platforms/{{ platform }}/
---
<h1>Platform: {{ platform }}</h3>

{% set gamelist = collections[ platform ] %}
{% include "gamelist.njk" %}
