---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - platforms
    - platform
    - platformList
    - tagList
  addAllPagesToCollections: true
layout: layouts/home.njk
renderData:
  title: Tagged "{{ tag }}"
permalink: /tags/{{ tag }}/
---
<h1>Tag: {{ tag }}</h3>

{% set gamelist = collections[ tag ] %}
{% include "gamelist.njk" %}
