<ul reversed="reversed" class="gamelist" style="counter-reset: start-from {{ gamelist.length + 1 }}">
  {% for game in gamelist %}
    <li class="gamelist-item{% if game.url == url %} gamelist-item-active{% endif %}">
      <div class="row">
        <div class="column _1">
          <a href="{{ game.url | url }}" class="gamelist-link">
          <img class="thumbnail" src="{{game.data.img | url}}" alt="{{game.data.img}}"></img>
        </a>
        </div>
        <div class="column _9">
          <div class="data-container">
            <a href="{{ game.url | url }}" class="gamelist-link">
              {{ game.data.title }}
            </a>
            <span class="game-type">
              {{ game.data.type }}
            </span>
            <p class="game-description">{{ game.data.longdescription }}</p>

            <div class="row">
              <div class="column _25">
                <p class="btn-header">Max players:</p>
                <button class="btn btn-red">{{ game.data.maxplayers }}</button>
              </div>
              <div class="column _25">
                <p class="btn-header">Roster size:</p>
                    <button class="btn btn-red">{{ game.data.rostersize }}
                  </div>
                  <div class="column _25">
                    <p class="btn-header">Platforms:</p>

                    {% for platform in game.data.platforms %}
                    {% set platUrl %}/platforms/{{ platform }}/{% endset %}
                      <a href="{{platUrl}}"><button class="btn btn-blue">{{ platform }}</button></a>
                    {% endfor %}
                  </div>
                  <div class="column _25">
                    <p class="btn-header">Tags:</p>

                    {% for tag in game.data.tags %}
                    {% set tagUrl %}/tags/{{ tag }}/{% endset %}
                    {% if tag != 'game' %}
                      <a href="{{ tagUrl }}"><button class="btn btn-green">{{ tag }}</button></a>
                      {% endif %}
                    {% endfor %}

                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
